* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

body {
    background-image: url("../images/escheresque/escheresque.png");
}

#brandStyle{
    color: #ffffff;
}

#contentHeader {
    color: #4aaaa5;
}

.navbar-brand{
    background-color: #4aaaa5;
}

.navbar{
    padding:0;
    margin: 0 0 1em 0;
}

footer{
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footerStyle, small {
    color: #ffffff;
}

.float-md-left {
    max-width: 250px;
}

